<a href="https://colab.research.google.com/github/Kaltnaike/SGA_Projects/blob/master/module8_lesson3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import Dependencies
import numpy as np 
import pandas as pd

In [10]:
#Load csv File
df=pd.read_csv('/content/drive/MyDrive/SGA_csvdocs/movies.csv')
df.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [3]:
#Check for Missing Values
df.isnull().any().any()

True

In [4]:
#Check for Missing Values in each column of the Dataset
df.isnull().any()

MOVIES      False
YEAR         True
GENRE        True
RATING       True
ONE-LINE    False
STARS       False
VOTES        True
RunTime      True
Gross        True
dtype: bool

In [5]:
#Check for Missing Values in each column of the Dataset
df.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [16]:
#Check for Duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9994     True
9995    False
9996    False
9997    False
9998    False
Length: 9999, dtype: bool

In [8]:
df.drop_duplicates()
df.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [9]:
#Ensure correct data types of columns
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

In [11]:
#Working on 'VOTES' datatype
#Removing Comma from 'VOTES' column
df['VOTES'] = df['VOTES'].astype(str)
df['VOTES'] = [x.replace(',','') for x in df["VOTES"]]
# convert "VOTES" from string to float
df['VOTES'] = df['VOTES'].astype(float)
#correct data types of columns
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES       float64
RunTime     float64
Gross        object
dtype: object

In [12]:
#More Data cleaning to make the dataset neat
#Removing the next line(\n) value from the columns
df["GENRE"] = df["GENRE"].astype(str)
df["GENRE"] = [x.replace('\n','') for x in df["GENRE"]]


df["ONE-LINE"] = df["ONE-LINE"].astype(str)
df["ONE-LINE"] = [x.replace('\n','') for x in df["ONE-LINE"]]

df["STARS"] = df["STARS"].astype(str)
df["STARS"] = [x.replace('\n','') for x in df["STARS"]]
df.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062.0,121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870.0,25.0,NaN
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805.0,44.0,NaN
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849.0,23.0,NaN
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:...,NaN,NaN,NaN

In [15]:
#Using fillna to fill up empty spaces in the columns
# Fill up empty spaces  for 'RunTime' column using the mean
x = df['RunTime'].mean()
df['RunTime'].fillna(x, inplace=True)

# Fill up empty spaces  for 'RATING' column using the mean
y = df['RATING'].mean()
df['RATING'].fillna(y, inplace=True)

# Fill up empty spaces  for 'VOTES' column with 0
df['VOTES'].fillna(0, inplace=True)

# Fill up empty spaces  for 'Gross' column with 0
df['Gross'].fillna(0, inplace=True)

# Fill up empty spaces for 'GENRE' column with 'Comedy'
df['GENRE'].fillna('Comedy', inplace=True)

df.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.100000,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062.0,121.000000,0
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.000000,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870.0,25.000000,0
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.200000,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805.0,44.000000,0
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.200000,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849.0,23.000000,0
4,Army of Thieves,(2021),"Action, Crime, Horror",6.921176,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:...,0.0,68.688539,0

In [18]:
#Checking for more duplicates and removing them
df.duplicated().sum()
df.drop_duplicates(inplace= True)
df.duplicated().sum()

0

In [20]:
#Checking for missing values
df.isnull().sum()
#dropping rows that still have missing values
df.dropna( inplace = True)
#check
df.isnull().sum()

MOVIES      0
YEAR        0
GENRE       0
RATING      0
ONE-LINE    0
STARS       0
VOTES       0
RunTime     0
Gross       0
dtype: int64

In [24]:
cleaned_df=df
print('Dataset is Cleaned and Fit for Analysis')
cleaned_df.head(10)

Dataset is Cleaned and Fit for Analysis

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.100000,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062.0,121.000000,0
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.000000,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870.0,25.000000,0
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.200000,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805.0,44.000000,0
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.200000,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849.0,23.000000,0
4,Army of Thieves,(2021),"Action, Crime, Horror",6.921176,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:...,0.0,68.688539,0
5,Outer Banks,(2020– ),"Action, Crime, Drama",7.600000,A group of teenagers from the wrong side of th...,"Stars:Chase Stokes, Madelyn Cl...",25858.0,50.000000,0
6,The Last Letter from Your Lover,(2021),"Drama, Romance",6.800000,A pair of interwoven stories set in the past a...,Director:Augustine Frizzell| Stars:Sha...,5283.0,110.000000,0
7,Dexter,(2006–2013),"Crime, Drama, Mystery",8.600000,"By day, mild-mannered Dexter is a blood-spatte...","Stars:Michael C. Hall, Jennife...",665387.0,53.000000,0
8,Never Have I Ever,(2020– ),Comedy,7.900000,The complicated life of a modern-day first gen...,"Stars:Maitreyi Ramakrishnan, P...",34530.0,30.000000,0
9,Virgin River,(2019– ),"Drama, Romance",7.400000,"Seeking a fresh start, nurse practitioner Meli...","Stars:Alexandra Breckenridge, ...",27279.0,44.000000,0